## Exercise 1: Creation of Python dictionaries

A new dictionary, *planet*, is created and it stores information about Mars.

In [1]:
planet = {
    "name" : "Mars",
    "moons" : 2,
}

In [2]:
print(planet.get("name"), "has", planet.get("moons"), "moons.")

Mars has 2 moons.

The dictionary is updated with circunference information.

In [3]:
planet.update({ "circunference (km)" : {"polar" : 6752, "equatorial" : 6792 } })
planet

{'name': 'Mars',
 'moons': 2,
 'circunference (km)': {'polar': 6752, 'equatorial': 6792}}

In [4]:
print(planet.get("name") + "'s polar circunference is", planet.get("circunference (km)").get("polar"), "km.")
print(planet.get("name") + "'s equatorial circunference is", planet.get("circunference (km)").get("equatorial"), "km.")

Mars's polar circunference is 6752 km.
Mars's equatorial circunference is 6792 km.

## Exercise 2: Dynamic programming with dictionaries

Total moons in the solar system is gonna be calculated, as well as, the mean of moons per planet.

In [5]:
planet_moons = {
    "mercury" : 0,
    "venus" : 0,
    "earth" : 1,
    "mars" : 2,
    "jupyter" : 79,
    "saturn" : 82,
    "uranus" : 27,
    "neptune" : 14,
    "pluto" : 5,
    "haumea" : 2,
    "makemake" : 1,
    "eris" : 1,
}

In [6]:
moons = planet_moons.values()
moons

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])

In [7]:
planets = planet_moons.keys()
planets

dict_keys(['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn', 'uranus', 'neptune', 'pluto', 'haumea', 'makemake', 'eris'])

In [8]:
total_moons = 0
for moon in moons:
    total_moons += moon

total_moons

214

In [9]:
mean_moons  = total_moons / len(planets)
mean_moons

17.833333333333332

In [10]:
print("There are", total_moons, "moons in our Solar System.")
print("There are", mean_moons, "moons per planet or planetoid.")

There are 214 moons in our Solar System.
There are 17.833333333333332 moons per planet or planetoid.